In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from config import pgres_conn

In [2]:
# Files to load
result1 = "Resources/Results1.csv"
result2 = "Resources/Results2.csv"
result3 = "Resources/Results3.csv"
result4 = "Resources/Results4.csv"
result5 = "Resources/Results5.csv"
result6 = "Resources/wiki_to_df_year_clean.csv"

# Read CSVs
result1_df = pd.read_csv(result1)
result2_df = pd.read_csv(result2)
result3_df = pd.read_csv(result3)
result4_df = pd.read_csv(result4)
result5_df = pd.read_csv(result5)
result6_df = pd.read_csv(result6)

In [39]:
result6_df.head()

,Unnamed: 0,title,api_game_title,wiki_game_title,genre,rating,year
0,0,11eyes[1][2],11 Eyes: Tsumi to Bachi to Aganai no Shoujo,11eyes: Tsumi to Batsu to Aganai no Shōjo,Adventure,0.00,2009
1,5,Ace Attorney,Ace Attorney INVESTIGATIONS: Miles Edgeworth,Ace Attorney,Adventure,4.10,2016 - 2019
2,10,Air,Air,Air,NaN,0.00,2005
3,20,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka,Indie,2.29,2008
4,25,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka',Indie,2.29,1989

In [4]:
result1_df.head()

,Unnamed: 0,Media,Demographic,Genre,Theme
0,Tower of Druaga,Anime,NaN,"Adventure,Fantasy",NaN
1,Train Heroes,"Anime,Film",Kodomo,Adventure,NaN
2,Transformers,"Anime,Manga,Film,Live Action,Games,Audio Drama...",NaN,"Action,Adventure,Mecha,Science Fiction","Robots,Military,Space,Aliens,Racing,Cars"
3,Triage X,"Anime,Manga",Shōnen,"Action,Drama,Romance","Ecchi,Harem,School Life,Fanservice,Crime,Espio..."
4,Tribe Cool Crew,"Anime,Games",Kodomo,"Comedy,Sports","Dance,Music"

In [5]:
result2_df.head()

,Unnamed: 0,Media,Demographic,Genre,Theme
0,Platinumhugen Ordian,"Anime,Manga",NaN,"Mecha,Science Fiction",NaN
1,Play Ball,"Anime,Manga",NaN,Sports,"School,Baseball"
2,Pluster World,Anime,NaN,"Adventure,Science Fiction",NaN
3,Poco's Udon World,"Anime,Manga",Seinen,"Fantasy,Slice of Life",Childcare
4,Pokonyan!,"Anime,Games",NaN,"Comedy,Fantasy",NaN

In [6]:
result3_df.head()

,Unnamed: 0,Media,Demographic,Genre,Theme
0,Killing Bites,"Anime,Manga",Seinen,"Action,Adventure,Science Fiction","Ecchi,Mutants,Battle"
1,Kimagure Orange Road,"Anime,Manga,Novel,Original Video Animation,Fil...",Shōnen,"Drama,Romance,Slice of Life,Supernatural","Psychic,School Life"
2,Kimba the White Lion,"Anime,Manga,Original Video Animation,Film",Shōnen,"Adventure,Comedy,Drama",Coming of Age
3,Kimi ga Aruji de Shitsuji ga Ore de,"Anime,Manga,Original Video Animation,Games,Aud...",NaN,"Comedy,Romance","Ecchi,Parody,Harem"
4,Kimi ga Nozomu Eien,"Anime,Visual novel,Original Video Animation,Games",NaN,"Drama,Romance","Love Triangle,Ecchi"

In [7]:
result4_df.head()

,Unnamed: 0,Media,Demographic,Genre,Theme
0,Etotama,"Anime,Manga",NaN,"Comedy,Fantasy",Zodiac
1,Eureka Seven,"Anime,Manga,Light novel,Original Video Animati...",NaN,"Adventure,Mecha,Romance",NaN
2,Evangelion,"Anime,Manga,Film,Games,Guide Book",NaN,"Drama,Mecha,Mystery,Psychological,Science Fiction","Post-Apocalyptic,Thriller"
3,Everyone Gather! Falcom Academy,"Anime,Manga",NaN,"Comedy,Fantasy",NaN
4,Excel Saga,"Anime,Manga",NaN,"Action,Science Fiction",Parody

In [8]:
result5_df.head()

,Unnamed: 0,Media,Demographic,Genre,Theme
0,.hack,"Anime,Manga,Light novel,Original Video Animati...",NaN,"Adventure,Comedy,Fantasy,Mystery,Science Fiction","Virtual Reality,MMORPG"
1,009-1,"Anime,Manga,Live Action",NaN,"Action,Science Fiction","Androids,Alternate History,Espionage"
2,07-Ghost,"Anime,Manga,Audio Drama",NaN,"Action,Fantasy,Supernatural",NaN
3,11eyes,"Anime,Manga,Visual novel,Games",NaN,"Action,Fantasy,Romance",NaN
4,12-sai,"Anime,Manga,Light novel,TV drama,Games,Origina...",NaN,"Romance,Slice of Life",NaN

In [9]:
final_list = pd.concat([result1_df, result2_df, result3_df, result4_df, result5_df])
final_list.rename(columns={"Unnamed: 0":"Title"}, inplace=True)
final_list

,Title,Media,Demographic,Genre,Theme
0,Tower of Druaga,Anime,NaN,"Adventure,Fantasy",NaN
1,Train Heroes,"Anime,Film",Kodomo,Adventure,NaN
2,Transformers,"Anime,Manga,Film,Live Action,Games,Audio Drama...",NaN,"Action,Adventure,Mecha,Science Fiction","Robots,Military,Space,Aliens,Racing,Cars"
3,Triage X,"Anime,Manga",Shōnen,"Action,Drama,Romance","Ecchi,Harem,School Life,Fanservice,Crime,Espio..."
4,Tribe Cool Crew,"Anime,Games",Kodomo,"Comedy,Sports","Dance,Music"
...,...,...,...,...,...
495,Endride,"Anime,Games",NaN,"Adventure,Fantasy",NaN
496,Endro~!,"Anime,Manga",Shōnen,"Adventure,Fantasy,Slice of Life","Heroes,Demons,School"
497,Ensemble Stars!,"Anime,Manga,Games",Shōjo,NaN,"Music,Idol,School"
498,Ergo Proxy,"Anime,Manga",NaN,"Mystery,Psychological,Science Fiction","Tech-noir,Androids,Post-Apocalyptic,Cyberpunk,..."
499,Eromanga Sensei,"Anime,Manga,Light novel",NaN,"Comedy,Romance",NaN

In [10]:
final_df = final_list.drop(columns=['Demographic', 'Theme'])
final_df

,Title,Media,Genre
0,Tower of Druaga,Anime,"Adventure,Fantasy"
1,Train Heroes,"Anime,Film",Adventure
2,Transformers,"Anime,Manga,Film,Live Action,Games,Audio Drama...","Action,Adventure,Mecha,Science Fiction"
3,Triage X,"Anime,Manga","Action,Drama,Romance"
4,Tribe Cool Crew,"Anime,Games","Comedy,Sports"
...,...,...,...
495,Endride,"Anime,Games","Adventure,Fantasy"
496,Endro~!,"Anime,Manga","Adventure,Fantasy,Slice of Life"
497,Ensemble Stars!,"Anime,Manga,Games",NaN
498,Ergo Proxy,"Anime,Manga","Mystery,Psychological,Science Fiction"
499,Eromanga Sensei,"Anime,Manga,Light novel","Comedy,Romance"

In [11]:
final_df.dropna(inplace = True) 
final_df

,Title,Media,Genre
0,Tower of Druaga,Anime,"Adventure,Fantasy"
1,Train Heroes,"Anime,Film",Adventure
2,Transformers,"Anime,Manga,Film,Live Action,Games,Audio Drama...","Action,Adventure,Mecha,Science Fiction"
3,Triage X,"Anime,Manga","Action,Drama,Romance"
4,Tribe Cool Crew,"Anime,Games","Comedy,Sports"
...,...,...,...
494,Emma,"Anime,Manga,Novel","Drama,Romance"
495,Endride,"Anime,Games","Adventure,Fantasy"
496,Endro~!,"Anime,Manga","Adventure,Fantasy,Slice of Life"
498,Ergo Proxy,"Anime,Manga","Mystery,Psychological,Science Fiction"
499,Eromanga Sensei,"Anime,Manga,Light novel","Comedy,Romance"

In [12]:
anime_game_df = final_df["Media"].str.split(",", n = -1, expand = True) 
anime_game_df

,0,1,2,3,4,5,6,7,8,9
0,Anime,None,None,None,None,None,None,None,None,None
1,Anime,Film,None,None,None,None,None,None,None,None
2,Anime,Manga,Film,Live Action,Games,Audio Drama,Guide Book,None,None,None
3,Anime,Manga,None,None,None,None,None,None,None,None
4,Anime,Games,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
494,Anime,Manga,Novel,None,None,None,None,None,None,None
495,Anime,Games,None,None,None,None,None,None,None,None
496,Anime,Manga,None,None,None,None,None,None,None,None
498,Anime,Manga,None,None,None,None,None,None,None,None
499,Anime,Manga,Light novel,None,None,None,None,None,None,None

In [13]:
combined_df = pd.concat([final_df, anime_game_df], axis=1)
anigame_df = combined_df.drop(columns=['Media'])
anigame_df

,Title,Genre,0,1,2,3,4,5,6,7,8,9
0,Tower of Druaga,"Adventure,Fantasy",Anime,None,None,None,None,None,None,None,None,None
1,Train Heroes,Adventure,Anime,Film,None,None,None,None,None,None,None,None
2,Transformers,"Action,Adventure,Mecha,Science Fiction",Anime,Manga,Film,Live Action,Games,Audio Drama,Guide Book,None,None,None
3,Triage X,"Action,Drama,Romance",Anime,Manga,None,None,None,None,None,None,None,None
4,Tribe Cool Crew,"Comedy,Sports",Anime,Games,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
494,Emma,"Drama,Romance",Anime,Manga,Novel,None,None,None,None,None,None,None
495,Endride,"Adventure,Fantasy",Anime,Games,None,None,None,None,None,None,None,None
496,Endro~!,"Adventure,Fantasy,Slice of Life",Anime,Manga,None,None,None,None,None,None,None,None
498,Ergo Proxy,"Mystery,Psychological,Science Fiction",Anime,Manga,None,None,None,None,None,None,None,None
499,Eromanga Sensei,"Comedy,Romance",Anime,Manga,Light novel,None,None,None,None,None,None,None

In [14]:
final_list_df = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[1] == 'Games')]
final_list_df

,Title,Genre,0,1,2,3,4,5,6,7,8,9
4,Tribe Cool Crew,"Comedy,Sports",Anime,Games,None,None,None,None,None,None,None,None
50,Uma Musume: Pretty Derby,Sports,Anime,Games,Manga,None,None,None,None,None,None,None
72,Valkyrie Drive,"Action,Supernatural,Yuri",Anime,Games,None,None,None,None,None,None,None,None
78,Venus Project,Science Fiction,Anime,Games,None,None,None,None,None,None,None,None
81,Viewtiful Joe,"Action,Adventure,Comedy",Anime,Games,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
356,Cosmo Warrior Zero,"Adventure,Science Fiction",Anime,Games,None,None,None,None,None,None,None,None
369,Cubix,"Action,Comedy,Science Fiction",Anime,Games,Guide Book,None,None,None,None,None,None,None
395,Dame x Prince,Romance,Anime,Games,None,None,None,None,None,None,None,None
450,Divine Gate,Fantasy,Anime,Games,None,None,None,None,None,None,None,None
495,Endride,"Adventure,Fantasy",Anime,Games,None,None,None,None,None,None,None,None

In [15]:
complete_df1 = final_list_df.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df1

                        Title                          Genre
4             Tribe Cool Crew                  Comedy,Sports
50   Uma Musume: Pretty Derby                         Sports
72             Valkyrie Drive       Action,Supernatural,Yuri
78              Venus Project                Science Fiction
81              Viewtiful Joe        Action,Adventure,Comedy
..                        ...                            ...
356        Cosmo Warrior Zero      Adventure,Science Fiction
369                     Cubix  Action,Comedy,Science Fiction
395             Dame x Prince                        Romance
450               Divine Gate                        Fantasy
495                   Endride              Adventure,Fantasy

[95 rows x 2 columns]

In [16]:
final_list_df1 = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[2] == 'Games')]
complete_df2 = final_list_df1.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df2

,Title,Genre
20,Tsukiuta.,"Comedy,Slice of Life"
32,Twin Star Exorcists,"Action,Adventure,Comedy,Fantasy,Romance,Supern..."
52,Umineko no Naku Koro ni,"Horror,Mystery,Psychological,Supernatural"
83,Violinist of Hameln,"Adventure,Drama,Fantasy"
92,Wagamama High Spec,"Comedy,Romance,Sports,Supernatural,Yuri"
...,...,...
467,Dragon Collection,"Action,Adventure,Comedy,Fantasy,Supernatural"
469,Dragon Drive,"Adventure,Comedy,Science Fiction"
473,Dream Festival!,"Comedy,Slice of Life"
485,Eien no Aselia,"Adventure,Drama,Fantasy"
489,Eldran Series,"Action,Mecha,Science Fiction"

In [17]:
final_list_df2 = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[3] == 'Games')]
complete_df3 = final_list_df2.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df3

                   Title                                        Genre
17             Tsukihime  Fantasy,Horror,Mystery,Romance,Supernatural
53                Umisho                                       Sports
65        Ushio and Tora     Action,Comedy,Drama,Fantasy,Supernatural
71   Valkyria Chronicles                       Action,Fantasy,Romance
74        Vampire Knight                         Romance,Supernatural
..                   ...                                          ...
459             Doraemon                       Comedy,Science Fiction
470         Dragon Quest        Action,Adventure,Fantasy,Supernatural
474         Duel Masters                             Action,Adventure
476           Durarara!!                  Action,Mystery,Supernatural
492     Elemental Gelade             Action,Adventure,Fantasy,Romance

[175 rows x 2 columns]

In [18]:
final_list_df3 = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[4] == 'Games')]
complete_df4 = final_list_df3.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df4

,Title,Genre
2,Transformers,"Action,Adventure,Mecha,Science Fiction"
29,"Tsuyoshi, Shikkari Shinasai","Comedy,Drama,Slice of Life"
55,Unbreakable Machine Doll,"Action,Comedy,Fantasy,Mecha,Mystery,Romance,Sc..."
66,Uta no☆Prince-sama♪,"Comedy,Romance"
67,Utawarerumono,"Action,Drama,Fantasy"
...,...,...
418,DearS,"Comedy,Romance,Science Fiction"
437,Diabolik Lovers,"Drama,Horror,Mystery,Romance"
440,Dies Irae,Action
475,Dungeon ni Deai wo Motomeru no wa Machigatteir...,"Action,Adventure,Comedy,Romance"
483,Ef: A Tale of Memories,"Drama,Mystery,Romance"

In [19]:
final_list_df4 = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[5] == 'Games')]
complete_df5 = final_list_df4.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df5

,Title,Genre
10,True Tears,"Drama,Romance"
16,Tsuki wa Higashi ni Hi wa Nishi ni,"Comedy,Fantasy,Romance,Science Fiction"
28,Tsuyokiss,"Comedy,Romance,Slice of Life"
73,Vampire Hunter D,"Comedy,Horror,Supernatural"
37,Psycho-Pass,"Action,Drama,Mystery,Psychological,Science Fic..."
...,...,...
371,Cutie Honey,"Action,Adventure"
413,Date A Live,"Comedy,Mecha,Romance,Science Fiction,Supernatural"
424,Demonbane,"Action,Mecha,Romance"
461,Dororo,Supernatural
466,Dragon Ball,"Action,Adventure,Comedy,Fantasy,Science Fiction"

In [20]:
final_list_df5 = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[6] == 'Games')]
complete_df6 = final_list_df5.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df6

                           Title                                        Genre
47                      Ultraman            Adventure,Mystery,Science Fiction
160          You're Under Arrest                          Action,Comedy,Drama
116              Rurouni Kenshin                          Action,Comedy,Drama
475            Tokimeki Memorial                        Romance,Slice of Life
142                      Macross         Action,Mecha,Romance,Science Fiction
446  Otome wa Boku ni Koishiteru                                      Romance
476                     Patlabor             Comedy,Drama,Mecha,Slice of Life
86                         Gantz  Action,Horror,Psychological,Science Fiction
111           Ghost in the Shell                       Action,Science Fiction
277    Higurashi no Naku Koro ni           Drama,Horror,Mystery,Psychological
397     JoJo's Bizarre Adventure                Action,Adventure,Supernatural
329                      Clannad          Drama,Fantasy,Romance,Slice of Life
429              Detective Conan                         Comedy,Drama,Mystery
434                     Devilman                   Action,Horror,Supernatural

In [21]:
final_list_df6 = anigame_df.loc[(anigame_df[0] == 'Anime') & (anigame_df[7] == 'Games')]
complete_df7 = final_list_df6.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
complete_df7

,Title,Genre
124,STEINS;GATE,"Psychological,Romance,Science Fiction"
234,Shingeki no Kyojin,"Action,Drama,Fantasy,Horror,Mystery"
334,Naruto,"Action,Adventure,Fantasy"
187,Gundam,"Action,Comedy,Drama,Mecha,Science Fiction,Sports"
91,Ano Hi Mita Hana no Namae wo Boku-tachi wa Mad...,"Drama,Romance,Slice of Life,Supernatural"
240,Boku wa Tomodachi ga Sukunai,"Comedy,Drama,Romance,Slice of Life"
420,Death Note,"Mystery,Psychological,Supernatural"

In [22]:
#Did search for columns 9 and 9, no results so I'm stopping at column 7.

complete_list = pd.concat([complete_df1, complete_df2, complete_df3, complete_df4, complete_df5, complete_df6, complete_df7])

In [23]:
new_index = []
for x in range(0, len(complete_list)):
    new_index.append(x + 1)

In [24]:
complete_list['id'] = new_index
completed_list = complete_list[['id', 'Title', 'Genre']]
completed_list.rename(columns={"Title":"title", "Genre":"genre"}, inplace=True)
completed_list

,id,title,genre
4,1,Tribe Cool Crew,"Comedy,Sports"
50,2,Uma Musume: Pretty Derby,Sports
72,3,Valkyrie Drive,"Action,Supernatural,Yuri"
78,4,Venus Project,Science Fiction
81,5,Viewtiful Joe,"Action,Adventure,Comedy"
...,...,...,...
334,635,Naruto,"Action,Adventure,Fantasy"
187,636,Gundam,"Action,Comedy,Drama,Mecha,Science Fiction,Sports"
91,637,Ano Hi Mita Hana no Namae wo Boku-tachi wa Mad...,"Drama,Romance,Slice of Life,Supernatural"
240,638,Boku wa Tomodachi ga Sukunai,"Comedy,Drama,Romance,Slice of Life"
420,639,Death Note,"Mystery,Psychological,Supernatural"

In [38]:
other_index = []
for x in range(0, len(result6_df)):
    other_index.append(x + 1)

In [40]:
other_complete_list = result6_df.drop(columns=['Unnamed: 0'])
other_complete_list['id'] = other_index
other_completed_list = other_complete_list[['id', 'title', 'api_game_title', 'wiki_game_title', 'genre', 'rating', 'year']]
other_completed_list

,id,title,api_game_title,wiki_game_title,genre,rating,year
0,1,11eyes[1][2],11 Eyes: Tsumi to Bachi to Aganai no Shoujo,11eyes: Tsumi to Batsu to Aganai no Shōjo,Adventure,0.00,2009
1,2,Ace Attorney,Ace Attorney INVESTIGATIONS: Miles Edgeworth,Ace Attorney,Adventure,4.10,2016 - 2019
2,3,Air,Air,Air,NaN,0.00,2005
3,4,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka,Indie,2.29,2008
4,5,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka',Indie,2.29,1989
...,...,...,...,...,...,...,...
173,174,Yo-Kai Watch,YO-KAI WATCH,Yo-Kai Watch,NaN,4.22,2014
174,175,Yosuga no Sora,SOMA,Yosuga no Sora,Indie,4.10,2010
175,176,Ys,Ys SEVEN,Ys,RPG,4.38,1989 - 1993
176,177,Yumeria,Yumeria,Yumeria,Action,0.00,2004
177,178,ZOE: 2167 IDOLO,Zone of the Enders,Zone of the Enders,Action,0.00,2000

In [4]:
rds_connection_string = f"{pgres_conn}@localhost:5432/animegame_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
engine.table_names()

['list1', 'list2']

In [34]:
completed_list.to_sql(name='list1', con=engine, if_exists='append', index=False)

In [42]:
result6_df

,Unnamed: 0,title,api_game_title,wiki_game_title,genre,rating,year
0,0,11eyes[1][2],11 Eyes: Tsumi to Bachi to Aganai no Shoujo,11eyes: Tsumi to Batsu to Aganai no Shōjo,Adventure,0.00,2009
1,5,Ace Attorney,Ace Attorney INVESTIGATIONS: Miles Edgeworth,Ace Attorney,Adventure,4.10,2016 - 2019
2,10,Air,Air,Air,NaN,0.00,2005
3,20,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka,Indie,2.29,2008
4,25,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka',Indie,2.29,1989
...,...,...,...,...,...,...,...
173,1168,Yo-Kai Watch,YO-KAI WATCH,Yo-Kai Watch,NaN,4.22,2014
174,1173,Yosuga no Sora,SOMA,Yosuga no Sora,Indie,4.10,2010
175,1178,Ys,Ys SEVEN,Ys,RPG,4.38,1989 - 1993
176,1183,Yumeria,Yumeria,Yumeria,Action,0.00,2004
177,1188,ZOE: 2167 IDOLO,Zone of the Enders,Zone of the Enders,Action,0.00,2000

In [43]:
other_completed_list.to_sql(name='list2', con=engine, if_exists='append', index=False)

In [44]:
pd.read_sql_query('select * from list2', con=engine).head()

,id,title,api_game_title,wiki_game_title,genre,rating,year
0,1,11eyes[1][2],11 Eyes: Tsumi to Bachi to Aganai no Shoujo,11eyes: Tsumi to Batsu to Aganai no Shōjo,Adventure,0.00,2009
1,2,Ace Attorney,Ace Attorney INVESTIGATIONS: Miles Edgeworth,Ace Attorney,Adventure,4.10,2016 - 2019
2,3,Air,Air,Air,None,0.00,2005
3,4,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka,Indie,2.29,2008
4,5,Akaneiro ni Somaru Saka,Akaneiro: Demon Hunters,Akaneiro ni Somaru Saka',Indie,2.29,1989

In [2]:
query="SELECT l1.title, l1.genre, l2.title, l2.year, l2.api_game_title, l2.genre FROM list1 l1 inner join list2 l2 on l1.title = l2.title"

In [7]:
query_df = pd.read_sql_query(query, con=engine)

In [8]:
query_df.to_csv("query_result.csv")

In [9]:
query_df

,title,genre,title,year,api_game_title,genre
0,Viewtiful Joe,"Action,Adventure,Comedy",Viewtiful Joe,2005 - 2007,Viewtiful Joe (2003),Platformer
1,Virtua Fighter,Adventure,Virtua Fighter,1995 - 1996,Virtua Fighter,Fighting
2,Wonder Momo,Action,Wonder Momo,2014,Wonder Boy: The Dragon's Trap,Platformer
3,Popolocrois,"Action,Fantasy",Popolocrois,1998,PoPoLoCrois,RPG
4,Power Stone,"Action,Adventure",Power Stone,1999,Power Stone,Fighting
5,Samurai Warriors,Action,Samurai Warriors,2015,SAMURAI WARRIORS 4,Action
6,MapleStory,"Adventure,Fantasy,Action",MapleStory,2007 - 2008,MapleStory,Massively Multiplayer
7,Gungrave,"Action,Science Fiction",Gungrave,2003 - 2004,Gungrave,None
8,Hero Bank,Action,Hero Bank,2014 - 2015,Hero Bank,RPG
9,Divine Gate,Fantasy,Divine Gate,2016,Divine Divinity,RPG
10,Yumeria,"Adventure,Comedy,Romance",Yumeria,2004,Yumeria,Action
11,Medabots,"Adventure,Comedy,Science Fiction",Medabots,1999 - 2001,Medabots,RPG
12,Galaxy Angel,"Action,Comedy,Romance,Science Fiction",Galaxy Angel,2001 - 2004,Galaxy Angel,Strategy
13,Gunparade March,"Action,Mecha,Drama,Romance,Science Fiction",Gunparade March,2003,March of War: FaceOff - XL,Indie
14,Hiiro no Kakera,"Adventure,Romance",Hiiro no Kakera,2012,Hiiro,Indie
15,Inazuma Eleven,"Adventure,Comedy,Sports,Supernatural",Inazuma Eleven,2008 - 2011,Inazuma Eleven,None
16,Amnesia,"Fantasy,Mystery,Romance,Supernatural",Amnesia,2013,Amnesia,None
17,Angelique,"Fantasy,Romance",Angelique,2004,Angelique,None
18,Azur Lane,Action,Azur Lane,2019,Azur Lane,Card
19,Blue Dragon,"Action,Adventure,Comedy,Fantasy,Supernatural",Blue Dragon,2007 – 2008,Blue Dragon,RPG
20,Comic Party,"Comedy,Drama,Romance",Comic Party,2001,Comic Party,None
21,Valkyria Chronicles,"Action,Fantasy,Romance",Valkyria Chronicles,2009 - 2011,Valkyria Chronicles,Strategy
22,Yosuga no Sora,"Comedy,Drama,Fantasy,Psychological,Romance,Sli...",Yosuga no Sora,2010,SOMA,Indie
23,Pokémon,"Action,Adventure,Comedy,Fantasy",Pokémon,1997,Pokémon Snap,Simulation
24,Sakura Wars,"Action,Romance,Supernatural,Mecha",Sakura Wars,2000,Sakura Wars,RPG
25,Kimi ga Nozomu Eien,"Drama,Romance",Kimi ga Nozomu Eien,2003 - 2004,Kimi ga Nozomu Eien,None
26,Monster Strike,"Action,Fantasy",Monster Strike,2015,Monster Strike,Action
27,Photo Kano,Romance,Photo Kano,2013,Kane and Lynch: Dead Men,Shooter
28,Gakuen Heaven,"Romance,Yaoi",Gakuen Heaven,2006,Heaven's Vault,Indie
29,Girls Beyond the Wasteland,"Drama,Romance",Girls Beyond the Wasteland,2016,Wasteland,Indie
30,Green Green,"Comedy,Romance,Supernatural",Green Green,2002 - 2004,green.,Platformer
31,H2O: Footprints in the Sand,Romance,H2O: Footprints in the Sand,2008,Leisure Suit Larry 1 - In the Land of the Loun...,Adventure
32,Arc the Lad,"Action,Adventure,Fantasy,Horror,Science Fiction",Arc the Lad,1999,Arc the Lad,RPG
33,Chaos;Head,"Action,Drama,Horror,Mystery,Psychological,Roma...",Chaos;Head,2008,CHAOS (itch),Action
34,DRAMAtical Murder,"Action,Psychological,Science Fiction",DRAMAtical Murder,2014,DRAMAtical Murder,Casual
35,Devil May Cry,"Action,Horror",Devil May Cry,2007,Devil May Cry,Action
36,Dragon Quest,"Action,Adventure,Fantasy,Supernatural",Dragon Quest,1989 – 1991,Dragon Quest (1986),RPG
37,Princess Lover!,"Comedy,Drama,Romance",Princess Lover!,2009,Loren The Amazon Princess,Indie
38,Senran Kagura,"Action,Romance,Yuri",Senran Kagura,2013,SENRAN KAGURA Burst Re:Newal,Action
39,God Eater,"Action,Fantasy,Supernatural",God Eater,2015 - 2016,Gods Eater Burst,Action
40,Air,"Drama,Romance,Slice of Life,Supernatural",Air,2005,Air,None
41,Da Capo,"Comedy,Fantasy,Romance",Da Capo,2003,Da Capo,Adventure
42,Ef: A Tale of Memories,"Drama,Mystery,Romance",Ef: A Tale of Memories,2007,ef - a fairy tale of the two.,Adventure
43,True Tears,"Drama,Romance",True Tears,2008,True Fear: Forsaken Souls,Casual
44,School Days,"Drama,Romance,Hentai",School Days,2007,School Days,Simulation
45,Shuffle!,"Comedy,Drama,Fantasy,Romance",Shuffle!,2005 - 2006,Shuffle!,Casual
46,Fortune Arterial,"Comedy,Fantasy,Romance,Supernatural",Fortune Arterial,2010,Fortuna's Fortune,None
47,Gift,"Drama,Fantasy,Romance",Gift,2006,Gift,Platformer
48,Kanon,"Drama,Fantasy,Romance",Kanon,2002,Kanon,None
49,Ace Attorney,Adventure,Ace Attorney,2016 - 2019,Ace Attorney INVESTIGATIONS: Miles Edgeworth,Adventure
50,Akaneiro ni Somaru Saka,"Drama,Romance",Akaneiro ni Somaru Saka,1989,Akaneiro: Demon Hunters,Indie
51,Akaneiro ni Somaru Saka,"Drama,Romance",Akaneiro ni Somaru Saka,2008,Akaneiro: Demon Hunters,Indie
52,Higurashi no Naku Koro ni,"Drama,Horror,Mystery,Psychological",Higurashi no Naku Koro ni,2006,Ni no Kuni II: Revenant Kingdom,RPG